# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE/Editor Folders
.idea/
.vscode

# Log files
*.log

# OSX .DS_Store files
.DS_Store

# Windows Thumbs.db files
Thumbs.db

# Linux cache files
*~

# ignore .env file
.env

# ignore data base running with docker
postgres_data/

# ignore todo file
todo.txt

# ignore http folder
http/